/* fichier de style reprenant les paramètres des types de réservation */ 
td.typeA{background:#3498DB !important;color:#000000 !important;}
td.typeA a.lienCellule{color:#000000 !important;}
 
td.typeG{background:#99CCCC !important;color:#FFFFFF !important;}
td.typeG a.lienCellule{color:#FFFFFF !important;}
 
td.typeJ{background:#FFCC99 !important;color:#000000 !important;}
td.typeJ a.lienCellule{color:#000000 !important;}
 
td.typeB{background:#F49AC2 !important;color:#000000 !important;}
td.typeB a.lienCellule{color:#000000 !important;}
 
td.typeC{background:#009900 !important;color:#000000 !important;}
td.typeC a.lienCellule{color:#000000 !important;}
 
td.typeD{background:#e67e22 !important;color:#000000 !important;}
td.typeD a.lienCellule{color:#000000 !important;}
 
td.typeF{background:#DDFFDD !important;color:#000000 !important;}
td.typeF a.lienCellule{color:#000000 !important;}
 
td.typeH{background:#9B59B6 !important;color:#000000 !important;}
td.typeH a.lienCellule{color:#000000 !important;}
 
td.typeI{background:#A0A000 !important;color:#000000 !important;}
td.typeI a.lienCellule{color:#000000 !important;}
 
td.typeE{background:#4169E1 !important;color:#000000 !important;}
td.typeE a.lienCellule{color:#000000 !important;}
 
td.typeP{background:#2ecc71 !important;color:#000000 !important;}
td.typeP a.lienCellule{color:#000000 !important;}
 
td.typeQ{background:#FFBB20 !important;color:#000000 !important;}
td.typeQ a.lienCellule{color:#000000 !important;}
